body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    background-color: #ccc;
}
.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
}
video {
    width:90vw;
    height: 60vh;
    border-radius:3px;
}
.capture, #copyButton{
    outline: none;
    border:none;
    width: 35vw;
    height:20px;
    border-radius:3px;
    color: #fff;
    cursor: pointer;
}
.capture {
   background-color: darkblue;
}
#copyButton {
   background-color: rgb(23, 9, 9);
}
p{
    width: 90%;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 2.5rem;
    font-size: 1.2rem;
    margin-top: 0.75rem;
    text-align: center;
}
